input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.setup-form {
  background-color: lightgrey;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.button-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

a {
  margin-left: 30px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wallet-details {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

.alert {
  margin: 30px;
}
