.transactions {
  margin-left: 30px;
  margin-right: 30px;
}
.transactions-table {
  border: 1px solid lightgray;
}
.selected {
  background-color: lightgreen;
}
.column-names {
  background-color: lightgray;
  text-align: center;
  text-justify: inter-word;
}
.row-entries {
  text-align: center;
  text-justify: inter-word;
}
