input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.setup-form,
.add-form {
  background-color: lightgrey;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.bold-span {
  font-weight: 600;
}
.button-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
}
.toggle-transaction {
  float: right;
}
.radio-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.add-button {
  float: right;
}
.alert {
  margin: 30px;
}
.pagination-table {
  margin-left: 30px;
  margin-right: 30px;
  table {
    thead {
      tr {
        th {
          background-color: lightgrey;
          text-align: center;
          p {
            align-content: center;
            margin: unset;
            button {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
